/* INITIAL HOUSEKEEPING */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 
/* CONTAINER - AND LANDING SCREEN */
  
.container {
    background-image: url(/background.jpeg);
    background-position: center;
    background-size: cover;  
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
 }


/* LOGO & NAVIGATION */

nav a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    padding: 20px;
    text-align: left;
}
    
nav {
    position: fixed;
    left: 0;
    z-index: 50;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background:transparent;
    border-right: 2px solid rgba(58, 83, 155, 1);
} 

/* CENTRAL PAGE SECTION */

section {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 0;
    opacity: 0;
    transition: all ease-in .5s;
    display: inline-flex;
    justify-content: center;
    padding-top: 50px;
} 
    
section h1 {
    color: #fff;
    font-size: 35px;
    text-transform: uppercase;
    opacity: 0;
    text-align: center;
}
 
section p {
    color: #fce205;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    opacity: 0;
    letter-spacing: 4px;
    line-height: 35px;
}


/* TOOLS SECTION PAGE ONE */

.tools {
    color:#fce205;
    font-family: Montserrat, sans-serif;
    list-style: none;
    top: 40px;
    text-align: center;
    display: block;
    width: 400px;
    letter-spacing: 4px;
    position: relative;
    font-size: 18px;
    line-height: 25px;
    font-weight: 500;
    text-transform: uppercase;
    border-left: 2px solid rgba(58, 83, 155, 1);
    border-right: 2px solid rgba(58, 83, 155, 1);
}
    
.highlight-white {
    color: #fff;
}
  
.highlight-blue {
    color:rgb(118, 136, 190);
    font-weight: 500;
}
  
#smaller_title_text {
    font-size: 14px;
    letter-spacing: 3px;
}

/* ABOUT ME SECTION PAGE TWO */

.about_me {
    color:#fff;
    font-family: Montserrat, sans-serif;
    list-style: none;
    top: 40px;
    text-align: center;
    display: block;
    width: 400px;
    letter-spacing: 2px;
    position: relative;
    font-size: 16px;
    text-transform: none;
    line-height: 25px;
    font-weight: 500;
    border-left: 2px solid rgba(58, 83, 155, 1);
    border-right: 2px solid rgba(58, 83, 155, 1);
    padding-left: 10px;
    padding-right: 10px;
}

.highlight-yellow {
    color: #fce205;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 2px;
}
